# Virtual environment
.venv/
venv/

# Environment variables
.env

# SQLite DB
db.sqlite3

# Static files (if generated)
/static/
/staticfiles/


# Python cache
__pycache__/
*.pyc

# VS Code and system files
.vscode/
.DS_Store
/bootstrap-ecommerce-html