{% load static %}
{% comment %} djlint:off H006 H013 H021 {% endcomment %}
{% csrf_token %}
<div class="col-md-3">
  <div class="card card-product-grid">
    <div class="img-wrap">
      <img src="{{ product.images.url }}" />
      <a class="btn-overlay" href="{{ product.get_url }}"><i class="fa fa-search-plus"></i> Quick view</a>
    </div>
    {% if product.get_active_discount_info.name %}
      <span class="badge badge-info">{{ product.get_active_discount_info.name }}</span>
    {% elif product.get_active_discount_info.percent > 0 %}
      <span class="badge badge-danger discount-badge start-1">&minus;{{ product.get_active_discount_info.percent }} %</span>
    {% elif badge_text %}
      <span class="badge badge-danger">{{ badge_text }}</span>
    {% endif %}
    <figcaption class="info-wrap">
      <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
      <div class="rating-wrap">
        {% comment %}{{ product.averageReview }}{% endcomment %}
        <ul class="rating-stars">
          <li class="rating-star">
            <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview < 1 %}-half-full{% endif %}"
               aria-hidden="true"></i>
            <i class="fa fa-star{% if product.averageReview < 1 %}-o{% elif product.averageReview < 2 %}-half-full{% endif %}"
               aria-hidden="true"></i>
            <i class="fa fa-star{% if product.averageReview < 2 %}-o{% elif product.averageReview < 3 %}-half-full{% endif %}"
               aria-hidden="true"></i>
            <i class="fa fa-star{% if product.averageReview < 3 %}-o{% elif product.averageReview < 4 %}-half-full{% endif %}"
               aria-hidden="true"></i>
            <i class="fa fa-star{% if product.averageReview < 4 %}-o{% elif product.averageReview < 5 %}-half-full{% endif %}"
               aria-hidden="true"></i>
          </li>
        </ul>
        {% if product.countReview > 0 %}
          <span class="label-rating text-muted">{{ product.countReview }} reviews</span>
        {% endif %}
      </div>
      <div class="price mt-1">
        {% if product.get_active_discount_info and product.get_active_discount_info.percent > 0 %}
          <span>৳{{ product.final_price }}</span>
          <del class="price-old"> ৳{{ product.price }} </del>
        {% else %}
          <span>৳{{ product.price }}</span>
        {% endif %}
      </div>
      <form action="{% url "add_to_cart" product.id %}" method="post">
        {% csrf_token %}
        <button type="submit"
                class="btn btn-primary w-100 mt-3"
                data-product-id="{{ product.id }}">
          <i class="icon fas fa-shopping-cart"></i> <span class="text">Add to Cart</span>
        </button>
      </form>
      <!-- price-wrap.// -->
    </figcaption>
  </div>
</div>