{% load static %}
<article class="card card-product-list">
    <div class="row no-gutters">
        <aside class="col-md-3">
            <a href="{{ product.get_url }}" class="img-wrap">
                <img src="{{ product.images.url }}" alt="{{ product.product_name }}">
            </a>
        </aside>
        {% if product.get_active_discount_info.name %}
            <span class="badge badge-info">{{ product.get_active_discount_info.name }}</span>
        {% elif product.get_active_discount_info.percent > 0 %}
            <span class="badge badge-danger discount-badge start-1">&minus;{{ product.get_active_discount_info.percent }} %</span>
        {% elif badge_text %}
            <span class="badge badge-danger">{{ badge_text }}</span>
        {% endif %}
        <!-- col.// -->
        <div class="col-md-6">
            <div class="info-main">
                <a href="{{ product.get_url }}" class="h5 title">{{ product.product_name }}</a>
                <div class="rating-wrap">
                    <ul class="rating-stars">
                        <li class="rating-star">
                            <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview < 1 %}-half-full{% endif %}"
                               aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview < 2 %}-half-full{% endif %}"
                               aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview < 3 %}-half-full{% endif %}"
                               aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview < 4 %}-half-full{% endif %}"
                               aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview < 5 %}-half-full{% endif %}"
                               aria-hidden="true"></i>
                        </li>
                    </ul>
                    {% if product.countReview > 0 %}
                        <span class="label-rating text-muted">{{ product.countReview }} reviews</span>
                    {% endif %}
                </div>
                <!-- rating-wrap.// -->
                <p>{{ product.description|slice:"0:100" }}</p>
            </div>
            <!-- info-main.// -->
        </div>
        <!-- col.// -->
        <aside class="col-sm-3">
            <div class="info-aside">
                {% if product.get_active_discount_info and product.get_active_discount_info.percent > 0 %}
                    <span>৳{{ product.final_price }}</span>
                    <del class="price-old"> ৳{{ product.price }} </del>
                {% else %}
                    <span>৳{{ product.price }}</span>
                {% endif %}
                <!-- info-price-detail // -->
                {% comment %}<p class="text-success">Free shipping</p>{% endcomment %}
                <br>
                <br>
                <p>
                    <a href="{{ product.get_url }}" class="btn btn-primary btn-block">Details</a>
                <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
                <span class="text">Add to wishlist</span></a>
        </p>
    </div>
    <!-- info-aside.// -->
</aside>
<!-- col.// -->
</div>
<!-- row.// -->
</article>
