{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=604800" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>
            {% block title %}Siddik Commerce - Django E-commerce{% endblock title %}
        </title>
        <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <!-- CSS Files -->
        <link href="{% static 'css/bootstrap.css' %}"
              rel="stylesheet"
              type="text/css" />
        <link href="{% static 'fonts/fontawesome/css/all.min.css' %}"
              type="text/css"
              rel="stylesheet" />
        <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/responsive.css' %}"
              rel="stylesheet"
              type="text/css" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- jQuery (load ONCE, at the top) -->
        <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
        <!-- Bootstrap JS (load AFTER jQuery) -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"
                type="text/javascript"></script>
        <!-- Custom JavaScript (load LAST) -->
        <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    </head>
    
    <body>
        <header class="section-header">
            <section class="header-main border-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-4">
                            <a href="{% url "home" %}" class="brand-wrap">
                                <img class="logo"
                                     src="{% static './images/logo.png' %}"
                                     alt="Siddik Commerce  Logo">
                            </a> <!-- brand-wrap.// -->
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <form action="{% url 'store' %}" method="GET" class="search">
                                <div class="input-group w-100">
                                    <input type="text" class="form-control" placeholder="{% trans "Search" %}" name="keyword" value="{{ request.GET.keyword }}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-search"></i> {% trans "Search" %}
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- search-wrap .end// -->
                        </div>
                        <!-- col.// -->
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="widgets-wrap float-md-right">
                                <div class="widget-header  mr-3">
                                    <a href="{% url "cart" %}" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
                                    <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
                                </div>
                                <div class="widget-header icontext">
                                    {% if request.user.user_profile.avatar %}
                                        <img src="{{ request.user.user_profile.avatar.url }}"
                                             alt="{{ request.user.username }}"
                                             class="icon icon-sm rounded-circle border" />
                                    {% else %}
                                        <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
                                    {% endif %}
                                    <div class="text">
                                        <span class="text-muted">
                                            {% if request.user.username %}
                                                {{ request.user.username }}
                                            {% else %}
                                                {% trans "Welcome Guest" %}
                                            {% endif %}
                                        </span>
                                        {% if request.user.is_authenticated %}
                                            <div>
                                                <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
                                            </div>
                                        {% else %}
                                            <div>
                                                <a href="{% url 'login' %}">{% trans "Sign in" %}</a> |
                                                <a href="{% url 'register' %}">{% trans "Register" %}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- widgets-wrap.// -->
                        </div>
                        <!-- col.// -->
                    </div>
                    <!-- row.// -->
                </div>
                <!-- container.// -->
            </section>
            <!-- header-main .// -->
        </header>
        {% comment %}{% include 'includes/alerts.html' %}{% endcomment %}
        <!-- section-header.// -->
        {% include "includes/alerts.html" %}
        <main class="">
            {% block content %}
            {% endblock content %}
            <!-- ========================= FOOTER ========================= -->
        </main>
        <!-- ========================= FOOTER ========================= -->
        <footer class="section-footer border-top padding-y">
            <div class="container">
                <p class="float-md-right">&copy {% trans "Copyright 2025 All rights reserved" %}</p>
                <p>
                    <a href="#">{% trans "Terms and conditions" %}</a>
                </p>
            </div>
            <!-- //container -->
        </footer>
        <!-- ========================= FOOTER END // ========================= -->
    </body>
</html>
