{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    {% comment %} Breadcrumb {% endcomment %}
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page">
                {% if request.GET.category_slug %}
                    {% trans "Category" %}
                {% else %}
                    {% trans "Store" %}
                {% endif %}
                {% trans "Products" %}
            </h2>
            <nav>
                <ol class="breadcrumb text-white">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">{% trans "Home" %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'store' %}">{% trans "Store" %}</a>
                    </li>
                    {% if category_slugs %}
                        {% comment %} get all the category_slug {% endcomment %}
                        <li class="breadcrumb-item active" aria-current="page">
                            {% for category_slug in category_slugs %}
                                <span>
                                    {{ category_slug|capfirst }}
                                    {% if not forloop.last %},{% endif %}
                                </span>
                            {% endfor %}
                        </li>
                    {% endif %}
                </ol>
            </nav>
        </div>
        <!-- container //  -->
    </section>
    <div class="container my-4 py-4">
        <div class="row">
            <aside class="col-md-3">
                <form action="{% url "store" %}" method="get">
                    <input type="hidden" name="layout" value="{{ request.GET.layout }}">
                    <div class="card">
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#"
                                   data-toggle="collapse"
                                   data-target="#collapse_2"
                                   aria-expanded="true"
                                   class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">
                                        {% trans "Categories" %}</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_2">
                                <div class="card-body">
                                    {% for category in category_links %}
                                        <label for="{{ category.slug }}" class="custom-control custom-checkbox">
                                            <input id="{{ category.slug }}"
                                                   name="category_slug"
                                                   value="{{ category.slug }}"
                                                   {% if  category.slug in category_slugs %}checked{% endif %}
                                                   type="checkbox"
                                                   class="custom-control-input">
                                            <div style="user-select: none;" class="custom-control-label">
                                                {{ category.category_name }}
                                                <b class="badge badge-pill badge-light float-right"> {{ category.product_count }} </b>
                                            </div>
                                        </label>
                                    {% endfor %}
                                </div>
                                <!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#"
                                   data-toggle="collapse"
                                   data-target="#collapse_3"
                                   aria-expanded="true"
                                   class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">
                                        {% trans "Price range" %}</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_3">
                                <div class="card-body">
                                    <div class="range-slider">
                                        <div class="range-selected" id="rangeSelected"></div>
                                    </div>
                                    <div class="range-input">
                                        <input style="top: -35px"
                                               type="range"
                                               id="min_range"
                                               min="0"
                                               max="{{ store_max_price }}"
                                               value="{{ min_price | default:'0' }}"
                                               step="100">
                                        <input style="top: -35px"
                                               type="range"
                                               id="max_range"
                                               min="0"
                                               max="{{ store_max_price }}"
                                               value="{{ max_price | default:store_max_price }}"
                                               step="100">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>{% trans "Min" %}</label>
                                            <input id="min_price"
                                                   value="{{ min_price | default:'0' }}"
                                                   name="min_price"
                                                   class="form-control"
                                                   placeholder="৳0"
                                                   type="number">
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>
                                                {% trans "Max" %}
                                            </label>
                                            <input value="{{ max_price | default:store_max_price }}"
                                                   id="max_price"
                                                   name="max_price"
                                                   class="form-control"
                                                   placeholder="৳{{ store_max_price }}"
                                                   type="number">
                                        </div>
                                    </div>
                                    <!-- form-row.// -->
                                    <button type="submit" class="btn btn-block btn-primary">{% trans "Apply" %}</button>
                                </div>
                                <!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#"
                                   data-toggle="collapse"
                                   data-target="#collapse_4"
                                   aria-expanded="true"
                                   class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">{% trans "Sizes" %}</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_4">
                                <div class="card-body">
                                    {% for available_size in available_sizes %}
                                        <label class="checkbox-btn">
                                            <input name="size"
                                                   value="{{ available_size }}"
                                                   type="checkbox"
                                                   {% if available_size in selected_sizes %}checked{% endif %}>
                                            <span class="btn btn-light">{{ available_size }}</span>
                                        </label>
                                    {% endfor %}
                                </div>
                                <!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                    </div>
                </form>
                <!-- card.// -->
            </aside>
            <main class="col-md-9">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto">{{ products.paginator.count }}
                            {% trans "Items found" %}
                        </span>
                        <select name="sort_by" id="sort_by" class="mr-2 form-control">
                            {% for k, v in sort_options.items %}
                                <option value="{{ k }}" {% if sort_by == k %}selected{% endif %}>{{ v.0 }}</option>
                            {% endfor %}
                        </select>
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary layout-btn {% if request.GET.layout == "list" %}active{% endif %}"
                                    data-toggle="tooltip"
                                    data-layout="list"
                                    title="{% trans "List view" %}"
                                    
                                    >
                                <i class="fa fa-bars"></i>
                            </button>
                            <button class="btn btn-outline-secondary layout-btn {% if request.GET.layout == "grid" %}active{% endif %}"
                                    data-toggle="tooltip"
                                    data-layout="grid"
                                    title="{% trans "Grid view" %}">
                                <i class="fa fa-th"></i>
                            </button>
                        </div>
                    </div>
                    {% comment %}</form>{% endcomment %}
                </header>
                <!-- sect-heading -->
                <section style="min-height: 560px;">
                    {% if products|length > 0 %}
                        <div class="row">
                            {% for product in products %}
                                {% if request.GET.layout == "list" %}
                                    {% include "includes/product-large-card.html" with product=product %}
                                {% else %}
                                    {% include "includes/product-card.html" with product=product column_width=4 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="container mt-5 pt-5">
                            {% comment %} show no search icon {% endcomment %}
                            <i class="fa fa-search fa-3x d-block text-center mb-4 text-muted"></i>
                            <h5 class="text-center">{% blocktrans %}No products found matching the selected criteria.{% endblocktrans %}</h5>
                        </h5>
                    </div>
                {% endif %}
            </section>
            {% comment %}  Pagination {% endcomment %}
            {% if products|length > 0 %}
                <nav class="mt-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        {% if products.has_previous %}
                            <li class="page-item">
                                <button data-page-num="{{ products.previous_page_number }}"
                                        class="page-btn page-link">{% trans "Previous" %}</button>
                            </li>
                            {% comment %}  first page {% endcomment %}
                            <li class="page-item">
                                <button data-page-num="1" class="page-btn page-link">{% trans "First" %}</button>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <button class="page-link" disabled>{% trans "Previous" %}</button>
                            </li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                                <li class="page-item active">
                                    <button data-page-num="{{ i }}" class="page-btn page-link">{{ i }}</button>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <button data-page-num="{{ i }}" class="page-btn page-link page_num_btn">{{ i }}</button>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                            <li class="page-item">
                                <button id="next_page_btn" class="page-btn page-link">{% trans "Next" %}</button>
                            </li>
                            <li class="page-item">
                                <button data-page-num="{{ products.paginator.num_pages }}"
                                        id="last_page_btn"
                                        class="page-btn page-link">{% trans "Last" %}</button>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <button class="page-link" disabled>{% trans "Next" %}</button>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </main>
    </div>
</div>
{% endblock content %}
