{% extends 'simple-base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
            {% comment %} Steps {% endcomment %}
            <div class="steps-horizontal mx-auto mt-3 mb-5">
                <div style="position: absolute;
                            top: 24px;
                            width: 400px;
                            left: 5rem;
                            right: 0;
                            border: 2px solid #4361ee;
                            z-index: 1"></div>
                <div class="step-horizontal complete">
                    <div class="step-icon">
                        <i class="fas fa-check"></i>
                    </div>
                    <div class="step-title">
                        <a href="{% url "cart" %}">{% trans "Cart" %}</a>
                    </div>
                </div>
                <div class="step-horizontal complete">
                    <div class="step-icon">
                        <i class="fas fa-check"></i>
                    </div>
                    <div class="step-title">
                        <a href="{% url "checkout" %}">{% trans "Shipping" %}</a>
                    </div>
                </div>
                <div class="step-horizontal active">
                    <div class="step-icon">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <div class="step-title">{% trans "Payment" %}</div>
                </div>
                <div class="step-horizontal">
                    <div class="step-icon">
                        <i class="fas fa-flag"></i>
                    </div>
                    <div class="step-title">{% trans "Confirmation" %}</div>
                </div>
            </div>
            {% comment %}<h4 class="text-center mb-20">{% trans "Review Your Order and Make Payment" %}</h4>{% endcomment %}
            <div class="row">
                <aside class="col-lg-8">
                    <div class="card mb-3">
                        <h5 class="card-header">{% trans "Shipping Address" %}</h5>
                        <div class="card-body">
                            <p class="card-text mb-0">{{ order.full_name }}</p>
                            <p class="card-text mb-0">{{ order.full_address }}</p>
                            <p class="card-text mb-0">{{ order.city }}, {{ order.state }}</p>
                            <p class="card-text mb-0">{{ order.email }}</p>
                            <p class="card-text mb-0">{{ order.phone_number }}</p>
                            {% if order.order_note %}
                                <b>{% trans "Order Note" %}: </b> {{ order.order_note }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card mb-3">
                        <h5 class="card-header">{% trans "Payment Method" %}</h5>
                        <div class="card-body">
                            <p class="card-text">SSL Commerz</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">{% trans "Review Products" %}</h5>
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">{% trans "Product" %}</th>
                                        <th scope="col" width="120">{% trans "Quantity" %}</th>
                                        <th scope="col" width="120">{% trans "Price" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in cart_items %}
                                        <tr>
                                            <td>
                                                <figure class="itemside align-items-center">
                                                    <div class="aside">
                                                        <img src="{{ cart_item.product.images.url }}" class="img-sm">
                                                    </div>
                                                    <figcaption class="info">
                                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                                        <p class="text-muted small">
                                                            {% if cart_item.variations.all %}
                                                                {% for item in cart_item.variations.all %}
                                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }}
                                                                    <br>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td>
                                                <!-- col.// -->
                                                <label for="">{{ cart_item.quantity }}</label>
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="price">৳{{ cart_item.sub_total }}</var>
                                                    <small class="text-muted" style="font-size: 0.875em;">৳{{ cart_item.product.price }} each</small>
                                                </div>
                                                <!-- price-wrap .// -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </aside>
                <!-- col.// -->
                <aside class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right">
                                    ৳{{ total }}
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Discount:</dt>
                                <dd class="text-right">
                                    ৳{{ discount }}
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Tax:</dt>
                                <dd class="text-right">
                                    ৳{{ tax }}
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Grand Total:</dt>
                                <dd class="text-right text-dark b">
                                    <strong>৳{{ grand_total }}</strong>
                                </dd>
                            </dl>
                            <hr>
                            <form action="{% url 'ssl_payment' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="order_number" value="{{ order.order_number }}">
                                <input type="hidden" name="total_amount" value="{{ grand_total }}">
                                <input type="hidden" name="full_name" value="{{ order.full_name }}">
                                <button type="submit" class="text-center mt-4 btn btn-primary btn-block ">
                                    {% comment %}<img src="{% static './images/misc/payments.png' %}" height="26">{% endcomment %}
                                    <i class="fa fa-credit-card mr-2"></i>  Make Payment 
                                </button>
                            </form>
                            <div id="paypal-button-container">
                                <!-- PayPal Button Will Load -->
                            </div>
                        </div>
                        <!-- card-body.// -->
                    </div>
                    <!-- card.// -->
                    <div class="alert alert-danger mt-3" role="alert">
                        <b>Please Note: </b>This is a demo website. Do not try to make real payments.
                    </div>
                </aside>
                <!-- col.// -->
            </div>
            <!-- row.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->
        </div>
        <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
